body
{
display: block;
height: 100%;
width: 100%;
opacity: 0.8;
background-image:url("b.jpg");
background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#logo
{
position:relative;
top:-85pt;
left:24pt;
}
.copy-right{
	text-align:center;
	padding:0.2em;
	background:#000;
}
.copy-right p{
	font-size: 14px;
	color:rgba(148, 145, 145, 0.84);
	text-transform: capitalize;
}
.copy-right p a{
	color:#fff;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.copy-right p a:hover{
	color:#FFF;
	text-decoration:underline;
}
#PI{
	margin-top: -15%;
	margin-left: 5%; 
}

#Q{
	margin-left: 5%; 
}

#UF{
	margin-left: 5%; 
}

#S{
	margin-left: 5%;
}
h2 
{
color:#4C804C;
font-size:2em;
font-weight:300;
}
input#sub {
width:300px;
background: #3e9cbf; /*the colour of the button*/
padding: 8px 14px 10px; /*apply some padding inside the button*/
border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
/*style the text*/
font-size:1.5em;
font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
letter-spacing:.1em;
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
color: #fff;
/*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
/*give the corners a small curve*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 8px;
}